<!DOCTYPE html>
<html lang="en">
<head>
  <title>Billing Rules</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  body{
    background-color:white;
    color:#2d3436;
    position: absolute;
    height: 100%;
    width: 100%;
  }
   #container{
    position: absolute;

    height: 100%;
    width: 100%;
   }

    #rules{
        position: absolute;
        color:#2d3436;
        top: 2%;
        /*color: white;*/
        font-size: 2vw;
        font-family: sans-serif;
        font-weight: 100;
    }

  </style>
</head>
<body>

<div id="container" class="container" style="height:100%;width: 100%;">
          
 
    <div id="rules" >Billing Rules</div>
    <iframe style="height:90%;width: 100%;position: absolute;top:10%;" src="/static/BillingRates.pdf"></iframe>
    

  
</div>

</body>
</html>
