  <!-- Hero -->

  <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">class StickyNavigation {
    
    constructor() {
        this.currentId = null;
        this.currentTab = null;
        this.tabContainerHeight = 70;
        let self = this;
        $('.et-hero-tab').click(function() { 
            self.onTabClick(event, $(this)); 
        });
        $(window).scroll(() => { this.onScroll(); });
        $(window).resize(() => { this.onResize(); });
    }
    
    onTabClick(event, element) {
        event.preventDefault();
        let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
        $('html, body').animate({ scrollTop: scrollTop }, 600);
    }
    
    onScroll() {
        this.checkTabContainerPosition();
    this.findCurrentTabSelector();
    }
    
    onResize() {
        if(this.currentId) {
            this.setSliderCss();
        }
    }
    
    checkTabContainerPosition() {
        let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
        if($(window).scrollTop() > offset) {
            $('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
        } 
        else {
            $('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
        }
    }
    
    findCurrentTabSelector(element) {
        let newCurrentId;
        let newCurrentTab;
        let self = this;
        $('.et-hero-tab').each(function() {
            let id = $(this).attr('href');
            let offsetTop = $(id).offset().top - self.tabContainerHeight;
            let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
            if($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
                newCurrentId = id;
                newCurrentTab = $(this);
            }
        });
        if(this.currentId != newCurrentId || this.currentId === null) {
            this.currentId = newCurrentId;
            this.currentTab = newCurrentTab;
            this.setSliderCss();
        }
    }
    
    setSliderCss() {
        let width = 0;
        let left = 0;
        if(this.currentTab) {
            width = this.currentTab.css('width');
            left = this.currentTab.offset().left;
        }
        $('.et-hero-tab-slider').css('width', width);
        $('.et-hero-tab-slider').css('left', left);
    }
    
}

new StickyNavigation();
</script>
<style type="text/css">

    a {
    text-decoration: none;
}

body{
  background: #eee;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
        text-align: center;
        padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-hero-tabs,
.et-slide #tab-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
        text-align: center;
        padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
      &:hover {
            color:white;
      background: rgba(102,177,241,0.8);
            transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs,
    .et-slide {
    h1 {
        font-size: 3rem;

    }
    h3 {
        font-size: 1rem;
    }
    }
    .et-hero-tab {
        font-size: 1.5rem;
    }
}

 #from{
      position: absolute; 
      top:15%;
      left: 16%;
      width:30%;
        
       
        font-size: 2vw;
        font-family: sans-serif;
        font-weight: 100;

    }

    #to{
      position: absolute; 
      top:15%;

      left: 50%;
      width:30%;
      opacity: 0.9;
        
        
        font-size: 2vw;
        font-family: sans-serif;
        font-weight: 100;

    }

#datewise #meals{
      position: absolute;
      top:28%;
      text-align: left;
      left:24%;
      font-size: 1.5vw;
    }

#daywise #meals{
      position: absolute;
      top:28%;
      text-align: left;
      left:30%;
      font-size: 1.5vw;
    }
#unregister{
      position: absolute;
      top:29%;
      text-align: left;
      left:31%;
      font-size: 1.5vw;
    }
  [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* custom styles */
label {
  display: block;
}
 input #dfrom{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
#datewise #RegisterButton{
position: absolute;
  top: 57%;
  left: 24%;
  border:0px;
  font-family: sans-serif;
  font-weight: 100;
  background-color:#dfe4ea;
  font-size: 1.2vw;
  border-radius: 20px;
  height: 7%;
  width: 20%;
}
#daywise #RegisterButton{
position: absolute;
  top: 43%;
  left: 30%;
  border:0px;
  font-family: sans-serif;
  font-weight: 100;
  background-color:#dfe4ea;
  font-size: 1.2vw;
  border-radius: 20px;
  height: 7%;
  width: 20%;
}
 #datewise #mess_select{
    position: absolute;
    top: 45%;
    left: 24%;
    height: 6%;
    font-size: 1.5vw;
    background-color:#dfe4ea;
    border-radius: 15px;
    border:0px;
}
#daywise #mess_select{
    position: absolute;
    top: 20%;
    left:56%;
    height: 6%;
    font-size: 1.5vw;
    background-color:#dfe4ea;
    border-radius: 15px;
    border:0px;
}
#daywise #day_select{
    position: absolute;
    top: 20%;
    left: 30%;
    height: 6%;
    font-size: 1.5vw;
    background-color:#dfe4ea;
    border-radius: 15px;
    border:0px;
}
#monthwise #mess_select{
    position: absolute;
    top: 20%;
    left:56%;
    height: 6%;
    font-size: 1.5vw;
    background-color:#dfe4ea;
    border-radius: 15px;
    border:0px;
}
#monthwise #month_select{
    position: absolute;
    top: 20%;
    left: 30%;
    height: 6%;
    font-size: 1.5vw;
    background-color:#dfe4ea;
    border-radius: 15px;
    border:0px;
}
#monthwise #RegisterButton{
position: absolute;
  top: 41%;
  left: 30%;
  border:0px;
  font-family: sans-serif;
  font-weight: 100;
  background-color:#dfe4ea;
  font-size: 1.2vw;
  border-radius: 20px;
  height: 7%;
  width: 20%;
}

#tab-part #RegisterButton{
position: absolute;
  
  border:0px;
  font-family: sans-serif;
  font-weight: 100;
  background-color:#dfe4ea;
  font-size: 1.2vw;
  border-radius: 20px;
  height: 7%;
  width: 20%;
}

.et-slide h1{
    position: absolute;
    top :2%;
}

#msg {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#submit{
  position: absolute;
  top: 85%; 
  background-color: #dfe4ea;
  border:0px;
  font-family: sans-serif;
  font-weight: 100;
  color:#2d3436;
  opacity: 0.9;
  font-size: 1.2vw;
  border-radius: 20px;
  height: 6%;
  width: 20%;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Mess Portal</title>
</head>
<body>
  
  <section class="et-hero-tabs">
  	<p style="position:absolute;top:70%;font-size: 2vw" id="msg">{{msg}}</p>
    <h1>Change Mess Registration</h1>
    <p>All new registrations are effective after 2 days from the day of change</p>
    
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-date">Datewise Registration</a>
      <a class="et-hero-tab" href="#tab-day">Daywise Registration</a>
      <a class="et-hero-tab" href="#tab-month">Monthwise Registration</a>
      <a class="et-hero-tab" href="#tab-part">Particular Day Registration</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>


  <main class="et-main">
    <section class="et-slide" id="tab-date">
      <h1>Datewise Registration</h1>
      <div id="datewise" style="height: 90%;width: 100%;">
       <form method="post" action="/registration_change_date">
              <div id="from">
                From :  <input style="background-color:#dfe4ea; border-radius:20px;border:0px;" type="date" name="from" id="dfrom">
             
              </div>

                <div id="to">
                    To :  <input style="background-color:#dfe4ea; border-radius:20px;border:0px;" type="date" name="to" id="dto">
                 
                </div>

                <div id="meals">
                    <div class="checkbox"><label><input name="meal_b" type="checkbox" value="breakfast">Breakfast</label>
                    </div>
                    <div class="checkbox"><label><input name="meal_l" type="checkbox" value="lunch">Lunch</label>
                    </div>
                    <div class="checkbox"><label><input name="meal_d" type="checkbox" value="dinner" >Dinner</label>
                    </div> 
                </div>
              
               <!--  <div id="mess_select"> -->
                    <select id="mess_select" name="mess">
                      <option value="yuktahar">Yuktahar Mess</option>
                      <option value="kadamb-veg">Kadamb Veg</option>
                      <option value="kadamb-nonveg">Kadamb Nonveg</option>
                      <option value="north">North Mess</option>
                      <option value="south">South Mess</option>
                    </select>

               <!--  </div> -->
              <button type="submit"  class="btn btn-default" id="RegisterButton" >Register</button>

        </form>
    </div> 
    </section>
   <section class="et-slide" id="tab-day">
      <h1>Daywise Registraion</h1>
        
         <div id="daywise" style="height: 90%;width: 100%;">
       <form method="post" action="/registration_change_day">
              
                 <select id="day_select" name="day">
                      <option value="0">Monday</option>
                      <option value="1">Tuesday</option>
                      <option value="2">Wednesday</option>
                      <option value="3">Thurday</option>
                      <option value="4">Friday</option>
                       <option value="5">Saturday</option>
                        <option value="6">Sunday</option>
                    </select>


                <div id="meals">
                    <div class="checkbox"><label><input name="meal_b" type="checkbox" value="breakfast">Breakfast</label>
                    </div>
                    <div class="checkbox"><label><input name="meal_l" type="checkbox" value="lunch">Lunch</label>
                    </div>
                    <div class="checkbox"><label><input name="meal_d" type="checkbox" value="dinner" >Dinner</label>
                    </div> 
                </div>
              
               <!--  <div id="mess_select"> -->
                    <select id="mess_select" name="mess">
                      <option value="yuktahar">Yuktahar Mess</option>
                      <option value="kadamb-veg">Kadamb Veg</option>
                      <option value="kadamb-nonveg">Kadamb Nonveg</option>
                      <option value="north">North Mess</option>
                      <option value="south">South Mess</option>
                    </select>

               <!--  </div> -->
              <button type="submit"  class="btn btn-default" id="RegisterButton" >Register</button>

        </form>
    </div> 
    </section>
    <section class="et-slide" id="tab-month">
      <h1>Monthwise Registration</h1>
            <div id="monthwise" style="height: 90%;width: 100%;">
       <form method="post" action="/registration_change_month">
              
                 <select id="month_select" name="month">                      
                      <option value="8">August 2018</option>
                      <option value="9">September 2018</option>
                      <option value="10">October 2018</option>
                      <option value="11">November 2018</option>
                      <option value="12">December 2018</option>                      
                      <option value="1">January 2019</option>
                      <option value="2">February 2019</option>
                      <option value="3">March 2019</option>
                      <option value="4">April 2019</option>
                      <option value="5">May 2019</option>
                      <option value="6">June 2019</option>
                      <option value="7">July 2019</option>
                    </select>


                <div id="unregister">
                    <div class="checkbox"><label><input name="unregister" type="checkbox" value="unreg">Unregister Monthly Mess</label>
                    </div>
                    
                </div>
              
               <!--  <div id="mess_select"> -->
                    <select id="mess_select" name="mess">
                      <option value="yuktahar">Yuktahar Mess</option>
                      <option value="kadamb-veg">Kadamb Veg</option>
                      <option value="kadamb-nonveg">Kadamb Nonveg</option>
                      <option value="north">North Mess</option>
                      <option value="south">South Mess</option>
                    </select>

               <!--  </div> -->
              <button type="submit"  class="btn btn-default" id="RegisterButton" >Submit</button>

        </form>
    </div> 
    </section>
    <section class="et-slide" id="tab-part" >
      <h1>Particular Day Registration</h1>
      <form method="post" action="/registration_change_particular_day">
       <table class="table"  style="text-align: left; font-size: 1vw;position:absolute; left:2%;top:15%;  height:60%;padding: 0px;" >
        <thead>
          <tr >
            <th></th>
            <th>South</th>
            <th>North</th>
            <th>Yuktahar</th>
            <th>Kadamb-Veg</th>
            <th>Kadamb-Nonveg</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Monday</th>
            <td>
               <div id="monday_meals_south">
                    <div  class="radio"><label><input name="breakfast_monday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_monday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_monday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="monday_meals_north">
                    <div  class="radio"><label><input name="breakfast_monday" type="radio" value="north">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_monday" type="radio" value="north">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_monday" type="radio" value="north" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="monday_meals_yuktahar">
                    <div  class="radio"><label><input name="breakfast_monday" type="radio" value="yuktahar">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_monday" type="radio" value="yuktahar">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_monday" type="radio" value="yuktahar" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="monday_meals_kadambv">
                    <div  class="radio"><label><input name="breakfast_monday" type="radio" value="kadamb-veg">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_monday" type="radio" value="kadamb-veg">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_monday" type="radio" value="kadamb-veg" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="monday_meals_kadambnv">
                    <div  class="radio"><label><input name="breakfast_monday" type="radio" value="kadamb-nonveg">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_monday" type="radio" value="kadamb-nonveg">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_monday" type="radio" value="kadamb-nonveg" >Dinner</label>
                    </div> 
                </div>
            </td>
            
            
          </tr>
          <tr>
            <th>Tuesday</th>
            <td>
               <div id="tuesday_meals_south">
                    <div class="radio"><label><input name="breakfast_tuesday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_tuesday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_tuesday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="tuesday_meals_north">
                    <div class="radio"><label><input name="breakfast_tuesday" type="radio" value="north">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_tuesday" type="radio" value="north">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_tuesday" type="radio" value="north" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="tuesday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_tuesday" type="radio" value="yuktahar">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_tuesday" type="radio" value="yuktahar">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_tuesday" type="radio" value="yuktahar" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="tuesday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_tuesday" type="radio" value="kadamb-veg">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_tuesday" type="radio" value="kadamb-veg">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_tuesday" type="radio" value="kadamb-veg" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="tuesday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_tuesday" type="radio" value="kadamb-nonveg">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_tuesday" type="radio" value="kadamb-nonveg">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_tuesday" type="radio" value="kadamb-nonveg" >Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td>
               <div id="wednesday_meals_south">
                    <div class="radio"><label><input name="breakfast_wednesday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_wednesday"  type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_wednesday" type="radio" value="south" />Dinner</label>
                    </div>
                </div>
            </td>
            <td>
              <div id="wednesday_meals_north">
                    <div class="radio"><label><input name="breakfast_wednesday" type="radio" value="north"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_wednesday" type="radio" value="north"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_wednesday" type="radio" value="north" />Dinner</label>
                    </div>
              </div>
            </td>
            <td><div id="wednesday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_wednesday" type="radio" value="yuktahar"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_wednesday" type="radio" value="yuktahar"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_wednesday" type="radio" value="yuktahar" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="wenesday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_wednesday" type="radio" value="kadamb-veg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_wednesday" type="radio" value="kadamb-veg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_wednesday" type="radio" value="kadamb-veg" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="wednesday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_wednesday" type="radio" value="kadamb-nonveg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_wednesday" type="radio" value="kadamb-nonveg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_wednesday" type="radio" value="kadamb-nonveg" />Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>

           <tr>
            <th>Thursday</th>
            <td>
               <div id="thursday_meals_south">
                    <div class="radio"><label><input name="breakfast_thursday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_thursday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_thursday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="thursday_meals_north">
                    <div class="radio"><label><input name="breakfast_thursday" type="radio" value="north"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_thursday" type="radio" value="north"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_thursday" type="radio" value="north" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="thursday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_thursday" type="radio" value="yuktahar"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_thursday" type="radio" value="yuktahar"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_thursday" type="radio" value="yuktahar" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="thursday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_thursday" type="radio" value="kadamb-veg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_thursday" type="radio" value="kadamb-veg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_thursday" type="radio" value="kadamb-veg" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="thursday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_thursday" type="radio" value="kadamb-nonveg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_thursday" type="radio" value="kadamb-nonveg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_thursday" type="radio" value="kadamb-nonveg" />Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>

           <tr>
            <th>Friday</th>
            <td>
               <div id="friday_meals_south">
                    <div class="radio"><label><input name="breakfast_friday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_friday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_friday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="friday_meals_north">
                    <div class="radio"><label><input name="breakfast_friday" type="radio" value="north"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_friday" type="radio" value="north"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_friday" type="radio" value="north" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="friday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_friday" type="radio" value="yuktahar"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_friday" type="radio" value="yuktahar"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_friday" type="radio" value="yuktahar" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="friday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_friday" type="radio" value="kadamb-veg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_friday" type="radio" value="kadamb-veg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_friday" type="radio" value="kadamb-veg" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="friday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_friday" type="radio" value="kadamb-nonveg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_friday" type="radio" value="kadamb-nonveg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_friday" type="radio" value="kadamb-nonveg" />Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>

           <tr>
            <th>Saturday</th>
            <td>
               <div id="saturday_meals_south">
                    <div class="radio"><label><input name="breakfast_saturday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_saturday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_saturday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="saturday_meals_north">
                    <div class="radio"><label><input name="breakfast_saturday" type="radio" value="north"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_saturday" type="radio" value="north"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_saturday" type="radio" value="north" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="saturday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_saturday" type="radio" value="yuktahar"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_saturday" type="radio" value="yuktahar"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_saturday" type="radio" value="yuktahar" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="saturday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_saturday" type="radio" value="kadamb-veg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_saturday" type="radio" value="kadamb-veg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_saturday" type="radio" value="kadamb-veg" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="saturday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_saturday" type="radio" value="kadamb-nonveg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_saturday" type="radio" value="kadamb-nonveg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_saturday" type="radio" value="kadamb-nonveg" />Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>

           <tr>
            <th>Sunday</th>
            <td>
               <div id="sunday_meals_south">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="south"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="south"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="south" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="sunday_meals_north">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="north"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="north"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="north" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td><div id="sunday_meals_yuktahar">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="yuktahar"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="yuktahar"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="yuktahar" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="sunday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="kadamb-veg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="kadamb-veg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="kadamb-veg" />Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="sunday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="kadamb-nonveg"/>Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="kadamb-nonveg"/>Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="kadamb-nonveg" />Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>

          <tr style="visibility: hidden;">
            <th>Sunday</th>
            <td>
               <div id="sunday_meals_south1">
                    <div class="radio"><label><input name="breakfast_sunday1" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday1" type="radio" value="">Lunch</label>
                    </div>
                  <!--    <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div> --> 
                </div>
            </td>
            <td>
              <div id="sunday_meals_north1">
                    <div class="radio"><label><input name="breakfast_sunday1" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday11" type="radio" value="">Lunch</label>
                    </div>
                   <!--  <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div>  -->
                </div>
            </td>
            <td><div id="sunday_meals_yuktahar1">
                    <div class="radio"><label><input name="breakfast_sunday1" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday1" type="radio" value="">Lunch</label>
                    </div>
                   <!--  <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div>  -->
                </div>
            </td>
            <td>
              <div id="sunday_meals_kadambv1">
                    <div class="radio"><label><input name="breakfast_sunday1" type="radio" value="kadamb-veg">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday1" type="radio" value="kadamb-veg">Lunch</label>
                    </div>
                   <!--  <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div>  -->
                </div>
            </td>
            <td>
              <div id="sunday_meals_kadambnv1">
                    <div class="radio"><label><input name="breakfast_sunday1" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday1" type="radio" value="">Lunch</label>
                    </div>
                  <!--   <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div>  -->
                </div>
            </td>
          </tr>


           <tr style="visibility: hidden;">
            <th>Sunday</th>
            <td>
               <div id="sunday_meals_south">
                    <div class="radio"><label><input name="breakfast_sunday2" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday2" type="radio" value="">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday2" type="radio" value="" >Dinner</label>
                    </div> 
                </div>
            </td>
            <!-- <td>
              <div id="sunday_meals_north">
                    <div class="radio"><label><input name="breakfast_sunday" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday" type="radio" value="">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday" type="radio" value="" >Dinner</label>
                    </div> 
                </div>
            </td>
 -->      <td colspan="2">
            <button type="submit" class="btn btn-default" id="submit" style="visibility: visible;">Submit</button>
          </td>
            <td>
              <div id="sunday_meals_kadambv">
                    <div class="radio"><label><input name="breakfast_sunday2" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday2" type="radio" value="">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday2" type="radio" value="" >Dinner</label>
                    </div> 
                </div>
            </td>
            <td>
              <div id="sunday_meals_kadambnv">
                    <div class="radio"><label><input name="breakfast_sunday2" type="radio" value="">Breakfast</label>
                    </div>
                    <div class="radio"><label><input name="lunch_sunday2" type="radio" value="">Lunch</label>
                    </div>
                    <div class="radio"><label><input name="dinner_sunday2" type="radio" value="" >Dinner</label>
                    </div> 
                </div>
            </td>
          </tr>
          
        </tbody>
      </table>
      <!-- <button type="submit"  class="btn btn-default" id="RegisterButton"  style="position: absolute;top:120%;left: 40%;  ">Register</button>
 -->
      </form>
     </section>
    
  </main>

</body>
</html>