<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title:{
    text: "Weekly North Mess data"
  },  
  axisY: {
    title: "Number of Students",
    titleFontColor: "#4F81BC",
    lineColor: "#4F81BC",
    labelFontColor: "#4F81BC",
    tickColor: "#4F81BC"
  },
  axisY2: {
    title: "Number of Students",
    titleFontColor: "#C0504E",
    lineColor: "#C0504E",
    labelFontColor: "#C0504E",
    tickColor: "#C0504E"
  },  
  toolTip: {
    shared: true
  },
  legend: {
    cursor:"pointer",
    itemclick: toggleDataSeries
  },
  data: [{
    type: "column",
    name: "Breakfast",
    legendText: "Breakfast",
    showInLegend: true, 
    dataPoints:[
      { label: "Monday", y: 266.21 },
      { label: "Tuesday", y: 302.25 },
      { label: "Wednesday", y: 157.20 },
      { label: "Thursday", y: 148.77 },
      { label: "Friday", y: 101.50 },
      { label: "Saturday", y: 97.8 },
      { label: "Sunday", y: 97.8 }
    ]
  },
  {
    type: "column", 
    name: "Lunch",
    legendText: "Lunch",
    axisYType: "secondary",
    showInLegend: true,
    dataPoints:[
      { label: "Monday", y: 266.21 },
      { label: "Tuesday", y: 302.25 },
      { label: "Wednesday", y: 157.20 },
      { label: "Thursday", y: 148.77 },
      { label: "Friday", y: 101.50 },
      { label: "Saturday", y: 97.8 },
      { label: "Sunday", y: 97.8 }
    ]
  },
  {
    type: "column", 
    name: "Dinner",
    legendText: "Dinner",
    axisYType: "secondary",
    showInLegend: true,
    dataPoints:[
       { label: "Monday", y: 266.21 },
      { label: "Tuesday", y: 302.25 },
      { label: "Wednesday", y: 157.20 },
      { label: "Thursday", y: 148.77 },
      { label: "Friday", y: 101.50 },
      { label: "Saturday", y: 97.8 },
      { label: "Sunday", y: 97.8 }
    ]
  }
  

  ]
});
chart.render();

function toggleDataSeries(e) {
  if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  }
  else {
    e.dataSeries.visible = true;
  }
  chart.render();
}


    function myFunc(vars) {
          return vars
      }

    moR = myFunc({{mR|tojson}})

    console.log(moR)

    document.getElementById("north_monthly").innerHTML = moR["north"].toString();
    document.getElementById("south_monthly").innerHTML = moR["south"].toString();
    document.getElementById("yuktahar_monthly").innerHTML = moR["yuktahar"].toString();
    document.getElementById("kadamb_monthly").innerHTML = moR["kadamb-veg"].toString();
    document.getElementById("kadamb_nonveg_monthly").innerHTML = moR["kadamb-nonveg"].toString();

    }   

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['North', moR["north"]],
      ['South', moR["south"]],
      ['Yuktahar', moR["yuktahar"]],
      ['Kadamb Veg', moR["kadamb-veg"]],
      ['Kadamb Nonveg', moR["kadamb-nonveg"]]
    ]);

      // Optional; add a title and set the width and height of the chart
      var options = {'title':'Monthly Mess Data', 'width':500, 'height':400};

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }

    </script>
  <style type="text/css">
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #dcdde1;
        width:20%;
    }
    .card-deck{
      width:100%;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }

    .container {
      position: absolute;
      top: 2%;
      left: 14%;
        font-family: sans-serif;
        width:100%;
        height: 100%;
        color: #636e72;
    }
    p{
      font-size: 1.5vw;
    }
    
    #chartContainer a{
      visibility: hidden;
    }


  </style>
</head>
<body> 
 
<div class="container">
  <h2>Dashboard</h2>
  <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">North Mess</p>
        <br>
        <br>
        <p class="card-text" style="font-size:0.8vw;">Monthly Registered Students</p>
        <p class="card-text" id="north_monthly"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">South Mess</p>
        <br>
        <br>
        <p class="card-text" style="font-size:0.8vw;">Monthly Registered Students</p>
        <p class="card-text" id="south_monthly"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Yuktahar</p>
        <br>
        <br>
        <p class="card-text" style="font-size:0.8vw;">Monthly Registered Students</p>
        <p class="card-text" id="yuktahar_monthly"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Kadamb Veg</p>
        <br>
        <br>
        <p class="card-text" style="font-size:0.8vw;">Monthly Registered Students</p>
        <p class="card-text" id="kadamb_monthly"></p>
      </div>
    </div>  
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Kadamb Nonveg</p>
        <br>
        
        <p class="card-text" style="font-size:0.8vw;">Monthly Registered Students</p>
        <p class="card-text" id="kadamb_nonveg_monthly"></p>
      </div>
    </div>  
  </div>


  <div id="piechart" style="position: absolute;top:40%;height:40%;left:0%; padding: 0%;"></div>

    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

    <script type="text/javascript">
    // Load google charts
    // google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawChart);

    // // Draw the chart and set the chart values
    // function drawChart() {
    //   var data = google.visualization.arrayToDataTable([
    //   ['Task', 'Hours per Day'],
    //   ['North', moR["north"]],
    //   ['South', moR["south"]],
    //   ['Yuktahar', moR["yuktahar"]],
    //   ['Kadamb Veg', moR["kadamb-veg"]],
    //   ['Kadamb Nonveg', moR["kadamb-nonveg"]]
    // ]);

    //   // Optional; add a title and set the width and height of the chart
    //   var options = {'title':'Monthly Mess Data', 'width':500, 'height':400};

    //   // Display the chart inside the <div> element with id="piechart"
    //   var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    //   chart.draw(data, options);
    // }
    </script>

<div id="chartContainer" style="height:40%; width: 60%;position: absolute;top:45%;left: 45%;padding: 0%;margin: 0%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>

</body>
</html>
