<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Meal Rates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    body{
      font-family: sans-serif;
      background-color: white;
      color: #2d3436; 
      font-size: 1vw;
      font-weight: 100;
      font-size: 1vw;
    }
#update_rules{
  position: absolute;
  top: 17%;
}

#head{
  position: absolute;
  top: 3%;

}
#update_rates{
/*position: absolute;
top: 15%;
*/font-size: 1vw;

}

#update_cancel{
 /* position: absolute;
  top:65%;*/
  margin-top: 5%;
  width: 100%;
  font-size: 1.2vw;
}


</style>
<script type="text/javascript">
  function updateValue(){
   var month=document.getElementById('month_select').value;
   var breakfast =  document.getElementById('breakfast_cancel');
    var lunch =  document.getElementById('lunch_cancel');
     var dinner =  document.getElementById('dinner_cancel');
     // var breakfast_values = ["1", "2", "3","4"];
     // var lunch_values = ["1", "2", "3","4"];
     // var dinner_values = ["1", "2", "3","4"];

     var breakfast_values = {{ bca }};
     var lunch_values = {{ lca }};
     var dinner_values = {{ dca }};


   breakfast.value =breakfast_values[month-1];
    lunch.value = lunch_values[month-1];
     dinner.value = dinner_values[month-1];
}
window.onload=updateValue;
</script>
</head>

<body>

<div class="container">
 
 
 <h2 id="head">Update Meal Rates</h2>


  <form class="md-form" ID="update_rules" action="/UpdateRateAndCA" method="post">

   
  <div class="container">
           <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>             -->
      <table class="table" id="update_rates" style="text-align: left; font-size: 1.2vw;">
        <thead>
          <tr >
            <th></th>
            <th>Breafast Rate</th>
            <th>Lunch Rate</th>
            <th>Dinner Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th id="mess_name">{{mess}} Mess</th>
            <td> 
                <div class="col-xs-2">
                  <input class="form-control" id="ex1" type="text" name="b_rate" value="{{rate[0]}}">
                </div>
              </td>
            <td> 
                <div class="col-xs-2">
                  <input class="form-control" id="ex1" type="text" name="l_rate" value="{{rate[1]}}">
                </div>
              </td>
           <td> 
                <div class="col-xs-2">
                  <input class="form-control" id="ex1" type="text" name="d_rate" value="{{rate[2]}}">
                </div>
              </td>
          </tr>
          
          

          
        </tbody>
      </table>
    </div>

<div id="update_cancel" ><h5 style="position: absolute;margin-top:0%; margin-bottom: 10%;">Update Cancellations Allowed :</h5>
    <select id="month_select" name="month" style="position: absolute;top:85%; margin-top:7%;" onchange="updateValue();">
                      <option value="1">January 2019</option>
                      <option value="2">February 2019</option>
                      <option value="3">March 2019</option>
                      <option value="4">April 2019</option>
                      <option value="5">May 2019</option>
                      <option value="6">Jun 2019</option>
                      <option value="7">July 2019</option>
                      <option value="8">August 2018</option>
                      <option value="9">September 2018</option>
                      <option value="10">Octomber 2018</option>
                      <option value="11">November 2018</option>
                      <option value="12">December 2018</option>

                     
    </select>
 <table class="table" id="update_cancel_table" style="text-align: left; font-size: 1.2vw;position: absolute;margin-top: 10%;">
  <tbody>
          <tr>
              <th>Breakfast:</th>
            <td> 
                <div class="col-xs-2">
                  <input id="breakfast_cancel" name="breakfast_cancel" class="form-control" id="ex1" type="text">
                </div>
              </td>
              <th>Lunch:</th>
            <td> 
                <div class="col-xs-2">
                  <input id="lunch_cancel" name="lunch_cancel" class="form-control" id="ex1" type="text">
                </div>
              </td>
              <th>Dinner:</th>
           <td> 
                <div class="col-xs-2">
                  <input id="dinner_cancel" name="dinner_cancel" class="form-control" id="ex1" type="text">
                </div>
              </td>
          </tr>
</tbody>
</table>
</div>

<button type="submit" class="btn btn-default" style="position:absolute;height:25%;width: 20%; margin-top: 20%;">Update</button>
</form>

<p style="position: absolute;top:65%;left:20%;font-size: 1.5vw">{{msg}}</p>

</div>
</body>
</html>


